  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
    <h1 class="navBarHeader">Date Night Organizer</h1>
    <a href="/user/<%=user._id%>/idea"><button>Ideas Homepage</button></a>
    <a href="/user/<%=user._id%>/idea/Random"><button>Select An Idea</button></a>
    <a href="/user/<%=user._id%>/edit"><button>Settings</button></a>
    <a href="/"><button>Sign Out</button></a>

</header>