<h1>Create an account</h1>
<form action="/user" method="post">
    <label for="username">Create your username</label>
    <input type="text" name="username" id="">
    <label for="password"></label>
    <input type="password" name="password" id="">
    <!--google,apple and facebook logins-->
    <input type="submit" value="sign up">
</form>