<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit idea</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="top-bar"><h1>Date Night Organizer</h1></header>
    <form action="" method="post">
    <label for="title">Title</label>
    <input type="text" name="title">
    <label for="time">latest you can do this?</label>
    <input type="text" name="time">
    <label for="budget">max you expect to spend?</label>
    <input type="text" name="budget">
    <label for="mood">in or out?</label>
    <input type="text" name="mood">
    <label for="description">Description</label>
    <input type="text" name="description">
    <input type="submit" value="Save Changes">
    </form>
</body>
</html>