<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>homepage</title>
</head>
<body>
    <div id="Box">
        <h1>Date Night Organizer</h1>
        <h3>This is the the place where you can create, organize and randomly pick date night ideas!</h3>
        <a href="./login.ejs">Login</a>
        <a href="./createUser.ejs">Sign up</a>
    </div>
</body>
</html>