<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>new idea</title>
</head>
<body>
    <%-include("./partials/navBar.ejs")%>
    <form action=<%=`/user/${user._id}/idea/`%>  method="post">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="best title ever">
        <br>
        <label for="time">latest you can do this?</label>
        <input type="time" name="time">
        <br>
        <label for="budget">max you expect to spend?(in dollar, don't use a $)</label>
        <input type="string" name="budget" placeholder="30">
        <br>
        <label for="mood">in or out?</label>
        <input type="text" name="mood" placeholder="in or out?">
        <br>
        <label for="description">Description</label>
        <input type="text" name="description" placeholder="what you will be doing, how when...">
        <br>
        <input type="submit" value="create new date night!">
        </form>
</body>
</html>