<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>new idea</title>
</head>
<body>
    <%-include("./partials/navBar.ejs")%>
    <form class="newIdeaForm" action=<%=`/user/${user._id}/idea/`%>  method="post">
        <label for="title">
            <input type="text" name="title" placeholder="Date night idea Title" autofocus>
        </label>
        <br>
        <label for="time">
            <input type="time" name="time" placeholder="latest you can do this?">
        </label>
        <br>
        <label for="budget">
            <input type="number" name="budget" placeholder="max you expect to spend in USD($)?" min="0">
        </label>
        <br>
        <label for="mood">
            <select name="mood" id="mood">
                <option value="stay in">Stay in</option>
                <option value="go out">Go out</option>
            </select>
        </label>
        <br>
        <label for="description">
            <textarea name="description" id="ideaDescription" placeholder="what you will be doing, how when..." cols="30" rows="10"></textarea>
        </label>
        <br>
        <input type="submit" value="Create new date night!">
        </form>
</body>
</html>