*{
    text-align: center;
    top: 150px;
    text-decoration: none;
}
button{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5vw;
    border-radius: 20%;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 100%); 
    gap: 50% 3%;
    justify-content: space-evenly;
    justify-items: center;

}
h1{
    font-family: 'Beau Rivage', cursive;
    font-size: 5vw;
}
li{
    display: grid;
    place-self: stretch;
    align-content: center;
    background-color: grey;
    border-radius: 15%;
    font-size: 3.9vw;
    font-family: 'Beau Rivage', cursive;
}
.top-bar{
    box-sizing: border-box;
    height: 100px;
    position: sticky;
    left: 0;
    top: 0;
    min-width: auto;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.550);
    color: white;
    align-items: center;
    text-align: center;
    display: flexbox;
    top: 0;
}
.box{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: gray;
}
.box1{
    position: relative;
    left: 150px;
}
.box2{
}
.button{
    background-color:blue;
    border-radius: 10px;
}
.ideaList{
    display: grid;

}
.problem{
    color: red;
}