*{
    text-align: center;
    top: 150px;
}
.top-bar{
    box-sizing: border-box;
    height: 100px;
    position: sticky;
    left: 0;
    top: 0;
    min-width: auto;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.550);
    color: white;
    align-items: center;
    text-align: center;
    display: flexbox;
    top: 0;
}
.box{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: gray;
}
.box1{
    position: relative;
    left: 150px;
}
.box2{
    position: relative;
    right: 150px;
}
.button{
    background-color:blue;
    border-radius: 10px;
}